@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Montserrat;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  color: #333333;
  text-align: center;
}

.subtitle {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.line {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
}

.text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  width: 80%;
}

.banner {
  background: url(/img/banner.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding: 28px 0px 157px 0px;
}
.banner__title {
  font-family: "Kaushan Script";
  text-align: center;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 42px 0px;
}
.banner__text {
  width: 70%;
  text-align: center;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px auto 71px;
}
.banner__line {
  text-align: center;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto 50px;
}
.banner__btn {
  text-align: center;
}
.banner__btn button {
  width: 160px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ffffff;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  margin: 0px 0px 178px 0px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo a {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.header__logo a span {
  text-transform: none;
}
.header__nav {
  display: flex;
}
.header__link {
  position: relative;
  margin: 0px 55px 0px 0px;
}
.header__link:last-child {
  margin: 0;
}
.header__link a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.header__link a:hover {
  color: #fce38a;
}
.header__link a:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  border: 2px solid #fce38a;
}

.about-us {
  padding: 91px 0px 110px 0px;
}
.about-us__title {
  margin: 0px 0px 23px 0px;
}
.about-us__subtitle {
  margin: 0px 0px 40px 0px;
}
.about-us__line {
  margin: 0px auto 47px;
}
.about-us__text {
  margin: 0px auto 101px;
}
.about-us__images {
  display: flex;
  justify-content: space-between;
}
.about-us__img-1 {
  background-color: #95e1d3;
  position: relative;
}
.about-us__img-1:before {
  content: "";
  position: absolute;
  background: url(../img/about_us__logo.png) 0 0/100% no-repeat;
  width: 8.42%;
  padding-top: 9.2%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}
.about-us__img-1::after {
  content: "super team";
  position: absolute;
  bottom: 43%;
  left: 34%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.about-us__img-1 img {
  margin: -10px 10px 0px -10px;
}

.facts {
  background-color: #95e1d3;
}
.facts__row {
  display: flex;
  justify-content: space-between;
}
.facts__item {
  flex: 0 0 19.91%;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 79px 0px 90px 0px;
}
.facts__item:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.facts__amount {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 15px 0px;
}
.facts__name {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

.service {
  padding: 109px 0px 122px 0px;
}
.service__title {
  margin: 0px 0px 22px 0px;
}
.service__subtitle {
  margin: 0px 0px 42px 0px;
}
.service__line {
  margin: 0px auto 66px;
}
.service__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  flex: 1 1 33.333%;
  padding: 47px 30px 0px 30px;
}
.column:nth-child(-n+3) {
  border-bottom: 1px solid #e5e5e5;
  padding: 0px 30px 51px 30px;
}
.column__row {
  display: flex;
}
.column__icon {
  margin: 0px 29px 0px 0px;
}
.column__title {
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
  margin: 0px 0px 15px 0px;
}
.column__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.feauture {
  background: url(/img/feauture.png) no-repeat center;
  background-size: cover;
  max-height: 850px;
  padding: 95px 0px 0px 0px;
  margin: 0px 0px 90px 0px;
}
.feauture__title {
  margin: 0px 0px 22px 0px;
}
.feauture__subtitle {
  margin: 0px 0px 38px 0px;
}
.feauture__line {
  margin: 0px auto 45px;
}
.feauture__img {
  position: relative;
}
.feauture__img img {
  display: block;
  margin: 0 auto;
}
.feauture__img:after {
  content: "";
  position: absolute;
  background: url(../img/feauture__img_2.png) 0 0/100% no-repeat;
  width: 22.83%;
  padding-top: 39.66%;
  right: 16.66%;
  bottom: 5.333%;
}

.service-2 {
  padding: 21px 20px 120px 20px;
}
.service-2__title {
  margin: 0px 0px 23px 0px;
}
.service-2__subtitle {
  margin: 0px 0px 42px 0px;
}
.service-2__line {
  margin: 0px auto 46px;
}
.service-2__text {
  margin: 0px auto 92px;
}
.service-2__row {
  display: flex;
  justify-content: stretch;
}
.service-2__img {
  flex: 1 1 47.5%;
  margin: 0px 30px 0px 0px;
}
.service-2__block {
  flex: 1 1 50%;
  max-height: 380px;
  overflow: hidden;
}

.spoiler {
  margin: 0px 0px 10px 0px;
}
.spoiler ::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 2.5px;
}
.spoiler ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #95e1d3;
  border-radius: 2.5px;
}
.spoiler__title {
  position: relative;
  line-height: 1.2;
  text-transform: uppercase;
  color: #333333;
  padding: 20px 20px 20px 61px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
.spoiler__title:before, .spoiler__title:after {
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  top: 27px;
  background-color: #cccccc;
  transition: all 0.3s ease 0s;
}
.spoiler__title:before {
  transform: rotate(45deg);
  right: 25px;
}
.spoiler__title:after {
  transform: rotate(-45deg);
  right: 15px;
}
.spoiler__title.active:before {
  transform: rotate(-45deg);
}
.spoiler__title.active:after {
  transform: rotate(45deg);
}
.spoiler__text-wrapper {
  display: none;
  border: 1px solid #e5e5e5;
  border-top: 0;
  padding: 20px 25px 20px 20px;
}
.spoiler__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: #999999;
  overflow: auto;
  padding: 0px 20px 0px 0px;
  max-height: 143px;
}
.spoiler__text:first-line {
  line-height: 1;
}

.spoiler-1 {
  position: relative;
}
.spoiler-1:before {
  content: "";
  background: url(../img/service_2_logo_1.png) no-repeat center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 16px;
}

.spoiler-2 {
  position: relative;
}
.spoiler-2:before {
  content: "";
  background: url(../img/service_2_logo_2.png) no-repeat center;
  position: absolute;
  width: 28px;
  height: 32px;
  top: 15px;
  left: 16px;
}

.spoiler-3 {
  position: relative;
}
.spoiler-3:before {
  content: "";
  background: url(../img/service_2_logo_3.png) no-repeat center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 15px;
  left: 14px;
}