@import 'base';

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
    text-align: center;
}
.subtitle {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}
.line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
}
.text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    width: 80%;
}

.banner {
    background: url(/img/banner.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding: 28px 0px 157px 0px;
		&__body {}

		&__title {
            font-family: 'Kaushan Script';
            text-align: center;
            font-size: 72px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
            margin: 0px 0px 42px 0px;
        }

		&__text {
            width: 70%;
            text-align: center;
            font-size: 150px;
            line-height: 140px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0px auto 71px;
        }

		&__line {
            text-align: center;
            width: 60px;
            height: 3px;
            background-color: #ffffff;
            margin: 0 auto 50px;
        }

		&__btn {
            text-align: center;
            button {
                width: 160px;
                height: 40px;
                background-color: rgba(0,0,0,0.0);
                border: 3px solid #ffffff;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
}

.header {
    margin: 0px 0px 178px 0px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo a {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        span {
            text-transform: none;
        }
    }

    &__nav {
        display: flex;
    }

    &__link {
        position: relative;
        margin: 0px 55px 0px 0px;
        &:last-child {
            margin: 0;
        }
        
        a {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
            &:hover {
                color: #fce38a;
                &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -10px;
                width: 100%;
                border: 2px solid #fce38a;
                }
            }
        }
    }
}

.about-us {
    padding: 91px 0px 110px 0px;

    &__body {}

    &__title {
        margin: 0px 0px 23px 0px;
    }

    &__subtitle {
        margin: 0px 0px 40px 0px;
    }

    &__line {
        margin: 0px auto 47px;
    }

    &__text {
        margin: 0px auto 101px;
    }

    &__images {
        display: flex;
        justify-content: space-between;
    }
    &__img-1 {
        // position: relative;
        background-color: #95e1d3;
        img {
            margin: -10px 10px 0px -10px;
        }
    }
}

.facts {
    background-color: #95e1d3;
    &__row {
        display: flex;
        justify-content: space-between;
    }


    &__item {
        flex: 0 0 19.91%;
        text-align: center;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        padding: 79px 0px 90px 0px;
        &:last-child {
            border-right: 1px solid rgba(255, 255, 255, 0.3);;
        }
    }

    &__amount {
        font-size: 72px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0px 0px 15px 0px;
    }

    &__name {
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.service {
    padding: 109px 0px 122px 0px;
    &__title {
        margin: 0px 0px 22px 0px;
    }

    &__subtitle {
        margin: 0px 0px 42px 0px;
    }

    &__line {
        margin: 0px auto 66px;
    }

    &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.column {
    flex: 1 1 33.333%;
    margin: 0px 0px 101px 0px;
    padding: 0px 0px 0px 30px;
    border-bottom: 1px solid #e5e5e5;
    &__row {
        display: flex;
    }

    &__icon {
        margin: 0px 29px 0px 0px;
    }

    &__body {}

    &__title {
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 700;
        color: #333333;
        margin: 0px 0px 20px 0px;
    }

    &__text {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
        margin: 0px 0px 51px 0px;
    }
}



